*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color:#E5E5fd;
    min-height: 100vh;
    border: 10px solid #1D1E4C;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}